---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';

import PageHero from '../components/common/PageHero.astro';
import History from '../components/about/History.astro';
import Philosophy from '../components/about/Philosophy.astro';

import HeroImage from '../assets/img-(2).avif';
---

<Layout title="About The Institute">
  <Navbar slot="header" />
  
  <main>
    <PageHero 
      title="Preserving Tradition" 
      subtitle="Sankalpa Yoga Institute was founded to teach yoga not just as exercise, but as a complete scientific system."
      label="Since 2026"
      image={HeroImage}
    />
    <History />
    <Philosophy />
  </main>

  <Footer slot="footer" />
</Layout>