---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Footer from '../components/layout/Footer.astro';

import Hero from '../components/home/Hero.astro';
import BentoFeatures from '../components/home/BentoFeatures.astro';
import TeachersSection from '../components/home/TeachersSection.astro';
import Testimonials from '../components/home/Testimonials.astro';
---

<Layout title="Home - Ancient Wisdom, Modern Life">
  <Navbar slot="header" />

  <main>
    <Hero />
    <BentoFeatures /> 
    <TeachersSection />
    <Testimonials />
  </main>

  <Footer slot="footer" />
</Layout>